@font-face {
    font-family: "FZZJ-HGXSJW";
    src: url("FZZJ-HGXSJW.eot"); /* IE9 */
    src: url("FZZJ-HGXSJW.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("FZZJ-HGXSJW.woff") format("woff"), /* chrome、firefox */
    url("FZZJ-HGXSJW.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("FZZJ-HGXSJW.svg#FZZJ-HGXSJW") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


