@font-face {
    font-family: "SentyZHAO";
    src: url("SentyZHAO.eot"); /* IE9 */
    src: url("SentyZHAO.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("SentyZHAO.woff") format("woff"), /* chrome、firefox */
    url("SentyZHAO.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("SentyZHAO.svg#SentyZHAO") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


